<!DOCTYPE html>
<html>
<head>
  <title>Polyscope</title>
  <%= stylesheet_link_tag    "polyscope/application", media: "all" %>
  <%= javascript_include_tag "polyscope/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
